[submodule "sample-apps/rails-example"]
	path = sample-apps/rails-example
	url = https://github.com/scf-samples/rails-example.git
[submodule "sample-apps/test-app"]
	path = sample-apps/test-app
	url = https://github.com/scf-samples/12factor.git
